
#root{
    justify-content: start !important;
    flex-direction: column;
    overflow-y: auto;
}
.tran{
    transform: translateY(-50%);
} 

.smooth-tran{
    transition: all .5s ease-in-out;
}

.input-group input:valid~label, .input-group input:focus~label{
    top: 0;
    font-size: 14px;
    background-color: #1d232a;
    color : #7480ff;
}